<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parametros del Request HTTP GET - URL </title>
</head>
<body>

<h1>Enviar parametros del Request HTTP GET - URL </h1>
<ul>
<li>
<a th:href="@{/params/string(texto='Hola Den')}">/params/string?texto=Hola Den</a>
</li>
<li>
<a th:href="@{/params/string(texto='Que tal Franco!')}">/params/string?texto=Que tal Franco!</a>
</li>

<li>
<a th:href="@{/params/mix-params(saludo='Como estas Den', numero=10)}">mix-params/string?saludo='Como estas Den'%numero=10</a>
</li>

    <li>
        <a th:href="@{/params/mix-params-request(saludo='Como estas Den', numero=10)}">mix-params-request/string?saludo='Como estas Den'%numero=10</a>
    </li>

</ul>


</body>
</html>